# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle emp-template-management'
      'command': 'emp-template-management:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'emp-template-management'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'emp-template-management:temp-management'
        }
      ]
    ]
  }
  {
    'label': 'Emp'
    'submenu': [
        {type: 'separator'}
        { 'label': 'Template Management', 'command': 'emp-template-management:temp-management' }
        {'label': 'CBB Panel', 'command': 'emp-template-management:cbb-panel'}
        {type: 'separator'}
        {'label': 'UI Snippets Management', 'command': 'emp-template-management:snippets-management' }
        { 'label': 'ERT UI Guide', 'command': 'emp-template-management:show-guide' }
        { 'label': 'Reload Snippets', 'command': 'emp-template-management:reload-snippets' }
    ]
  }
]
