# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {'type': 'separator'}
    {
      'label': 'Emp '
      'submenu': [
        {'label': 'Setting Template Management', 'command': 'emp-template-management:temp-management'}
       ]
    }
    {'type': 'separator'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'emp-template-management'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'emp-template-management:temp-management'
        }
      ]
    ]
  }
  {
    'label': 'Emp'
    'submenu': [
        {type: 'separator'}
        { 'label': 'Template Management', 'command': 'emp-template-management:temp-management' }
        {'label': 'CBB Panel', 'command': 'emp-template-management:cbb-panel'}
        {type: 'separator'}
        {'label': 'UI Snippets Management', 'command': 'emp-template-management:snippets-management' }
        {
          'label': 'Help'
          'submenu':[
            {
              'label': 'ERT UI Guide'
              'submenu':[
                { 'label': 'Show in Atom', 'command': 'emp-template-management:show-guide' }
                { 'label': 'Show in Browser', 'command': 'emp-template-management:show-guide-brw' }

              ]
            }
            {
              'label': 'CBB Guide'
              'submenu':[
                { 'label': 'Show in Atom', 'command': 'emp-template-management:show-cbb-guide' }
                { 'label': 'Show in Browser', 'command': 'emp-template-management:show-cbb-guide-brw' }
              ]
            }
            { 'label': 'Refresh API Guide', 'command': 'emp-template-management:refresh-guide' }
            { 'label': 'Key Bindings', 'command': 'emp-template-management:set-keymaps' }
          ]
        }
        { 'label': 'Reload Snippets', 'command': 'emp-template-management:reload-snippets' }
        # { 'label': 'Test', 'command': 'emp-template-management:test' }
    ]
  }
]
